@import 'theme/styles/config.styl';

html
  overflow-y scroll

.columns
  display flex
  flex-direction row
  .column
    padding 0 0.5rem 1rem
    table
      display table
    > *
      width 100%
  @media(max-width 768px)
    flex-direction column
    .column
      padding 0
      width 100% !important

.nav-links a[href="/signup/"]{color:#0094FF;}

a.link-button
  display: block
  font-size: 1.2rem
  color: #fff
  background-color: $accentColor
  padding: 0.8rem 1.6rem
  border-radius: 4px
  transition: background-color 0.1s ease
  box-sizing: border-box
  border-bottom: 1px solid darken($accentColor, 10%)
  text-decoration: none !important

  &:hover
    background-color: lighten($accentColor, 10%)
