$primary-color: #0094ff
$primary-color-light: lighten($primary-color, 5%)
$primary-color-dark: darken($primary-color, 5%)

$info-color: $primary-color
$success-color: #00bc5f
$warning-color: #ff9100
$error-color: #ff0037
    
$profile-image-size: 60px
$profile-image-size-small: 2.5rem

$loader-size: 28px
$loader-border-size: 6px
$loader-color: $primary-color

$notification-colors: ("info": $info-color, "success": $success-color, "warning": $warning-color, "error": $error-color)
